__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# сборочные артефакты
debian-build/
*.deb
*.buildinfo
*.changes
build/
dist/

# редакторы
.vscode/
.idea/
*.swp
*~

# локальные настройки и приватные данные
settings.json
*.conf
!examples/*.conf
sets.json
split.json
*.conf.bak
*.keysets.json
split.json
*.conf.bak
*.key
